{% extends 'base.html' %}
{% load mcaltag %}

{% block content %}
<div class="container is-fluid" id="form_style">
  <br>
  <div class="card content">
    <header class="card-header">
      <p class="card-header-title has-background-dark has-text-white">{{date | date:"Y年m月d日"}}予定</p>
    </header>
    <div class="card-content markdown table is-bordered">
      {{description | markdown_to_html}}
    </div>
  </div>
  <div class="card content">
    <div class="card-content markdown table is-bordered">
      {{memo | markdown_to_html}}
    </div>
  </div>
  <div class="content has-text-centered">
    <a class="button is-primary" href="javascript:void(0);" onclick="window.history.back();">戻る</a>
  </div>
</div>
{% endblock %}

