{% extends 'base.html' %}

{% block navbar %}
{# https://bulma.io/documentation/components/navbar/ #}
<nav class="navbar is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">{{ month_current | date:"Y年m月" }}</a>
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'mcal:create' month_previous.year month_previous.month %}">前月</a>
      <a class="navbar-item" href="{% url 'mcal:create' month_next.year month_next.month %}">次月</a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'register:logout'%}">Logout</a>
      <a class="navbar-item" href="{% url 'mcal:calendar'%}">戻る</a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="ss_container is-fluid">
  <div class="content has-text-centered">
    <h4>{{ month_current | date:"Y年m月" }}</h4>
  </div>
  {% include 'mcal/includes/month.html' %}
  <div class="content has-text-centered">
    {{date}}
    <hr>
    <form action="" method="POST">
      {{ form.non_field_errors }}
      <table class="table  is-narrow">
        {{form}}
      </table>
      {% csrf_token %}
      <button type="submit" class="button is-primary">送信</button>
      <a class="button is-danger" href="{% url 'mcal:calendar' %}">戻る</a>
    </form>
  </div>
</div>
{% endblock %}

