{% extends 'base.html' %}
{% load static %}
{% load mcaltag %}

{% block header %}
  <link href="{% static 'mcal/mcal.css' %}" rel="stylesheet">
{% endblock header %}

{% block navbar %}
{# https://bulma.io/documentation/components/navbar/ #}
<nav class="navbar is-black is-size-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">Calendar</a>
    {# ハンバーガアイコンのため以下の5行とbase.htmlでのjsスクリプトが必要 #}
    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'mcal:calendar' month_previous.year month_previous.month %}">前月</a>
      <a class="navbar-item" href="{% url 'mcal:calendar'%}">【当月】</a>
      <a class="navbar-item" href="{% url 'mcal:calendar' month_next.year month_next.month %}">次月</a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="{% url 'mcal:create'%}">編集</a>
      <!--<a class="navbar-item" href="{% url 'register:login'%}">編集</a>-->
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<br>
<div class="container is-fluid">
  <div class="content has-text-centered">
    <h4>{{ month_current | date:"Y年m月" }}カレンダー</h4>
    <table class="table is-narrow is-responsible is-bordered">
      <thead>
        <tr>
          {% for w in week_names %}
            <th class="is-danger has-text-centered">{{ w }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for week_day_schedules in month_day_schedules %}
          <tr>
            {% for day, schedules in week_day_schedules.items %}
              <td class="has-text-right markdown">
              <div> 
                {% if month_current.month != day.month %}
                  {{ day | date:"m/d" }}
                {% else %}
                  {% if day == now %}
                    <div class="has-background-warning has-text-weight-bold">
                  {% else %}
                    <div class="has-text-weight-bold">
                  {% endif %}
                  <a href="{% url 'mcal:memo' day.year day.month day.day %}" class="today">{{day.day}}日 </a>
                  </div>
                {% endif %}
                {% for schedule in schedules %}
                  {% if schedule.align == 'left'%}
                    <div class="has-text-left">
                  {% elif schedule.align == 'center'%}
                    <div class="has-text-centered">
                  {% else %}
                    <div class="has-text-right">
                  {% endif %}
                    {{schedule.description | markdown_to_html | linebreaks}}
                  </div>
                {% endfor %}
              </div>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}