/* mcal css */
table {
  table-layout: fixed;
}
/*
td > div {
  height: 100px;
  overflow: auto;
  white-space: nowrap;
}
a.today {
  color: black;
}
*/

/* カレンダーセルの高さを固定 */
.markdown {
  height: 100px;
  /* overflow: auto; */
  overflow: hidden;
  white-space: nowrap;
}
